@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="page-header">
    <h3 class="page-title"> Form elements </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Forms</a></li>
            <li class="breadcrumb-item active" aria-current="page">Form elements</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Toplantı Oluştur</h4>
				<br />
                
                @using (Html.BeginForm("Index", "Meeting", FormMethod.Post, new { @class = "forms-sample", @enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
					  <label for="exampleInputUsername1">Toplantı Başlığı</label>
					  <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Toplantı Başlığı">
					</div>
					<div class="form-group">
					  <label for="exampleInputEmail1">Toplantı Konumu</label>
					  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Toplantı Konumu">
					</div>
					<div class="form-group">
					  <label for="exampleInputPassword1">Toplantı Tarihi</label>
					  <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Password">
					</div>
					<div class="form-group">
					  <label for="exampleInputConfirmPassword1">Toplantı Süresi</label> 
					  <br>
					  <select id="exampleInputPassword1" class="form-control" aria-placeholder="Toplantı Süresi"><option selected disabled>Toplantı Süresini Seçin</option>
						<option value="45">45 Dk</option>
						<option value="90">90 Dk</option>
						<option value="135">135 Dk</option>
						<option value="180">180 Dk</option></select>
					  
					</div>
					
					<button type="submit" class="btn btn-gradient-primary mr-2">Oluştur</button>
					<button class="btn btn-light">İptal</button>
                }
            </div>
        </div>
    </div>
    </div>