@model List<EntityLayer.Concrete.Meeting>

@{
}
<div class="page-header">
    <h3 class="page-title"> Form elements </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Forms</a></li>
            <li class="breadcrumb-item active" aria-current="page">Form elements</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                @if (Model.Count == 0)
                {
                    <h3 class="text-danger"> Herhangi bir toplantı bulunamadı.</h3>
                }
                else
                {
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Toplantı Adı</th>
                                <th>Toplantı Süresi</th>
                                <th>Toplantı Konumu</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.MeetingID
                                    </td>
                                    <td>
                                        @item.MeetingName
                                    </td>
                                    <td>
                                        @item.MeetingDuration
                                    </td>
                                    <td>
                                        @item.Location
                                    </td>
                                    <td><button onclick="AreYouSureDeleteMeeting(this)" class="btn btn-danger"><i class="mdi mdi-delete"></i> Sil</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>