@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Turtle' Hoşgeldiniz'</h1>
    <p><a href="/Meeting/AddMeeting">Bir toplantı oluşturabilir ve arkadaşlarınızı davet edebilirsiniz.</a>.</p>
</div>
